// Used for the "hero" header on the homepage
.section-edu {
  background-image: url("/minetest.github.io/media/background-edu-1.jpg");
  // Background color is displayed while the image is loading,
  // so that the text is still readable
  background-color: hsl(0, 1%, 13%);
  // font-size: $size-5;
  height: 25em;
}
